* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    max-width: 100%;
    overflow-x: hidden;
}

body, html {
    /* height: 100%; */
    width: 100%;
    margin: 0;
}

.container {
    position: relative;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.select {
    width: 200px;
}

.checkbox-container {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.checkbox-option {
    display: flex;
    flex-direction: row;
}
label {
    margin: 10px 0;
    font-size: 10px;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50px;
    min-width: fit-content;
}

.hidden {
    display: none;
}

#slider1 {
    width: 100%;
}

/* ------------------------------NBA BAR CHART RACE------------------------------ */
.main-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#bar-chart-container {
    width: fit-content;
    height: fit-content;
    max-width: 100%;
    margin: 10px 0;
    position: relative;
    display: flex;
    justify-content: center;
}

#nba-chart {
    display: block;
    /* width: 100%; */
    max-width: 600px;
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.champ-text {
    letter-spacing: 1.5pt;
    font-style: italic;
    font-weight: 100;
    font-size: 12px;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    fill: grey;
}

.tooltip {
    width: 150px;
    height: fit-content;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}

h4 {
    font-size: 10px;
    font-weight: 100;
    letter-spacing: 0.75pt;
    color: black;
    margin: 2px 0;
}

#info-display {
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 1pt;
}
#info-display-2 {
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1pt;
    fill: grey;
}

#title {
    font-size: 20px;
    font-weight: 300;
    width: 600px;
    max-width: 100%;
    letter-spacing: 1pt;
    text-align: left;
    color: black;
    margin: 5px 0;
    padding: 0 10px;
}
#subtitle {
    font-size: 14px;
    font-weight: 100;
    font-style: italic;
    width: 600px;
    max-width: 100%;
    letter-spacing: 1pt;
    text-align: left;
    color: grey;
    /* margin: 5px 0; */
    padding: 0 10px;
}

#head {
    height: 50px;
    width: 600px;
    max-width: 100%;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
    margin: 15px 0 5px;
    padding: 0 10px;
}

#year {
    font-size: 50px;
    font-weight: 300;
    letter-spacing: 2pt;
    text-align: center;
    color: black;
    margin: 5px 0;
    /* display: none; */
}

#controls {
    height: 100%;
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 5px 0;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(0);
    }
}

.bounce {
    animation: bounce 1.2s infinite;
}

#play-button {
    position: absolute;
    margin: 0 10px;
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-weight: 700;
    letter-spacing: 1pt;
    color: white;
    font-size: 14px;
    cursor: pointer;
    background: none;
    transition: all 0.3s ease-in-out;
}

#play-button:active {
    opacity: 0.5;
}

.play-button-disabled {
    opacity: 0.5;
    cursor: default;
}

#play-button::before {
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    background-image: url('./content/basketball-ball.png');
    background-position: center;
    background-size: contain;
}

#speed {
    margin: 0 10px;
    width: 100px;
    /* height: 80%; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#speed-input {
    margin: 5px 0;
    /* width: 100px; */
}
#speed-label {
    margin: 5px 0;
    font-size: 12px;
    font-weight: 100;
}

/* ------------------------------GEO SUNBURST------------------------------ */
#geo-chart-container {
    width: 120vh;
    /* height: 1000px; */
    max-width: 100%;
    margin: 10px 0;
    position: relative;
    display: flex;
    justify-content: center;
}

#tooltip-sunburst {
    width: fit-content;
    height: fit-content;
    background-color: rgb(221, 221, 221);
    /* border: 0.2px solid black; */
    /* border-radius: 3px; */
    padding: 3px 5px;
    box-shadow: 0 0 2px rgb(130, 130, 130);
}

#tooltip-sunburst h4 {
    font-size: 10px;
    font-weight: 100;
    color: black;
    letter-spacing: 0.5pt;
    /* margin: 2px 0; */
}

