* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    max-width: 100%;
    overflow-x: hidden;
    /* height: fit-content; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body, html {
    /* height: 100%; */
    width: 100%;
    margin: 0;
}

.container {
    position: relative;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.select {
    width: 200px;
}

.checkbox-container {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.checkbox-option {
    display: flex;
    flex-direction: row;
}
label {
    margin: 10px 0;
    font-size: 10px;
    color: black;
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50px;
    min-width: fit-content;
}

.hidden {
    display: none;
}

#slider1 {
    width: 100%;
}


