* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    max-width: 100%;
    overflow-x: hidden;
    /* height: fit-content; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body, html {
    /* height: 100%; */
    width: 100%;
    margin: 0;
}

.container {
    position: relative;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.select {
    width: 200px;
}

.checkbox-container {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.checkbox-option {
    display: flex;
    flex-direction: row;
}
label {
    margin: 10px 0;
    font-size: 10px;
    color: black;
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50px;
    min-width: fit-content;
}

.hidden {
    display: none;
}

#slider1 {
    width: 100%;
}

/* ---------------NBA BAR CHART RACE------------------- */
#bar-chart-container {
    position: relative;
    /* width: 100%; */
    height: fit-content;
    padding: 20px;
    display: flex;
    justify-content: center;
}

#nba-chart {
    display: block;
    /* width: 100%; */
    max-width: 600px;
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.champ-text {
    letter-spacing: 1.5pt;
    font-style: italic;
    font-weight: 100;
    font-size: 12px;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    fill: grey;
}

.tooltip {
    width: 150px;
    height: fit-content;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}

h4 {
    font-size: 10px;
    font-weight: 100;
    letter-spacing: 0.75pt;
    color: black;
    margin: 2px 0;
}

#year {
    font-size: 50px;
    font-weight: 300;
    letter-spacing: 2pt;
}

#info-display {
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 1pt;
}
#info-display-2 {
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1pt;
    fill: grey;
}
